absl-py==0.7.1
astor==0.7.1
gast==0.2.2
grpcio==1.20.1
h5py==2.9.0
imutils==0.5.2
isort==4.3.17
Markdown==3.1
mock==2.0.0
numpy==1.16.3
opencv-contrib-python==4.1.0.25
opencv-python==4.1.0.25
pbr==5.2.0
pdf2image==1.5.4
Pillow==6.0.0
protobuf==3.7.1
six==1.12.0
tensorboard==1.13.1
tensorflow==2.5.0
tensorflow-estimator==1.13.0
termcolor==1.1.0
verboselogs==1.7
Werkzeug==0.15.2
